*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.footer-bottom {
    background-color: #14532D !important;
    color: white !important;
}
.truncate-text{
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.logo-title{
    margin: 0px auto;
    display: flex;
    text-align: center;
}